$Cyan: hsl(179, 62%, 43%);
$BrightYellow: hsl(71, 73%, 54%);
$LightGray: hsl(204, 43%, 93%);
$GrayishBlue: hsl(218, 22%, 67%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  position: relative;
  background-color: $LightGray;
  /*  &::after {
    content: "";
    background-image: url(./design/mobile-design.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.2;

    pointer-events: none;
  } */
}
.container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card {
  width: 39.6875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 13.4375rem 16.25rem;
  border-radius: 0.4375rem;
  overflow: hidden;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
}
.card__top {
  background-color: white;
  grid-area: 1 / 1 / 2 / 3;
  padding: 2.5rem 2.5rem;
}
.card__title {
  color: $Cyan;
  font-size: 1.45em;
  margin-bottom: 1.5625rem;
}
.card__contrast-title {
  color: $BrightYellow;
  font-size: 1.15em;
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 700;
}
.card__p {
  color: $GrayishBlue;
  line-height: 1.625rem;
  font-size: 0.97em;
}
.card__btm {
  padding: 2.5625rem 2.5rem;
}
.card__subtitle {
  font-size: 1.1em;
  color: white;
  margin-bottom: 1.3125rem;
}
.price {
  display: flex;
  color: white;
  align-items: center;
  margin-bottom: 0.3125rem;
}
.price__price {
  font-size: 2em;
  font-weight: 700;
}
.price__date {
  margin-left: 0.8125rem;
  font-size: 0.95em;
  color: $LightGray;
}
.price_text {
  color: white;
  font-size: 0.98em;
  margin-bottom: 1.875rem;
  display: block;
}
.card__btn {
  width: 100%;
  height: 3.125rem;
  border: 0;
  border-radius: 0.3125rem;
  background-color: $BrightYellow;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 1.1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.1875rem 0.5rem;
  transition: ease 0.3s;

  &:hover {
    transition: ease 0.3s;
    cursor: pointer;
    filter: brightness(0.9);
  }
}
.card__btm-left {
  background-color: $Cyan;
  grid-area: 2 / 1 / 3 / 2;
}
.card__btm-rigth {
  background-color: #4abebd;
  grid-area: 2 / 2 / 3 / 3;
  padding-right: 5.625rem;
}
.card__second-p {
  color: $LightGray;
  font-size: 0.85em;
  line-height: 1.25rem;
}
.attribution {
  font-size: 0.9em;
  padding: 1em 0;
  text-align: center;
  position: relative;

  transform: translateX(-50%);
  left: 50%;
  bottom: 15px;
  a {
    color: $Cyan;
  }
}

@media screen and (max-width: 37.5rem) {
  html,
  body {
    height: auto;
  }
  .container {
    padding: 2rem;
  }
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 16.5625rem 14.1875rem 14.1875rem;
  }
  .card__top {
    padding: 1.5625rem;
  }
  .card__title {
    font-size: 1.2em;
  }
  .card__contrast-title {
    font-size: 0.91em;
    margin-bottom: 1.3125rem;
  }
  .card__p {
    font-size: 0.85em;
  }
  .card__btm-left {
    grid-area: 2 / 1 / 3 / 2;
    padding: 1.5625rem;
  }
  .card__btm-rigth {
    grid-area: 3 / 1 / 4 / 2;
    padding: 1.5625rem;
  }
  .card__subtitle {
    margin-bottom: 1.125rem;
  }
}
